* {
  margin: 0;
  padding: 0;
}
.container, body, #root, html{
  width: 100%;
  height: 100%;
}

.navbar {
  position: relative;
  background: linear-gradient(to left, aqua, lightblue);
  overflow: auto;
  margin-bottom: 20px;
}

.nav-items {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  text-decoration: none;
  align-items: center;
}

.nav-item {
  opacity: 70%;
  background-color: grey;
  color: white;
  border: 1px solid white;
  text-decoration: none;
  padding: 15px;
}

.nav-item:hover {
  opacity: 100%;
  text-decoration: none;
}
.logo {
  position: absolute;
  display: flex;
}
.logo img {
  height: 40px;
  width: 40px;
  padding-right: 10px;
  padding-left: 10px;
}

.logo h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: cursive;
  color: darkred;
}

.nav-link {
  text-decoration: none;
}



body, html, #root, .app, .container {
  width: 100%;
  height: 100%;
}


.container {
  font-size: 28px;
  color: #fff;
  display: flex;
  background-color: #282c34;
  background-image: url('/public/logo.png');
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loginForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding-left: 20px;
  padding-right: 20px;
 }

.login input{
  height: 1.3rem;
}
.login h1{
  text-transform: uppercase;
}
.login button{
  font-size: 1rem;
  padding: 10px;
  color: darkgreen;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
}
.login-input {
  margin: 1rem;
  box-sizing: border-box;
  outline: none;
  border: solid 2px #1189de;
  border-radius: 4px;
  color: #292929;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  background: rgba(255, 255, 255, 1);
}

.login-input:focus {
  background-color: aquamarine;
}

.login-btn{
  width: 100%;
 min-width: 280px;
 color: #565656;
 padding: 12px;
 font-size: 14px;
 margin-bottom: 2rem;
 font-weight: bold;
 border: solid 2px #1189de;
 border-radius: 4px;
 background: #fff;
 cursor: pointer;
 transition: background-color 650ms;
}

.login-btn:hover{
  color: blue;
  background-color: teal;
}
.login-link{
  font-size: 1rem;
  color: aqua;
}

.profile{
  padding-top: 20px;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

.profile img{
  border-radius: 100px;
  border: 2px solid grey;
    width: 200px;
    height: 200px;
}

.profile h1{
  padding-top: 10px;
  padding-bottom: 10px;
}
.profile h2{
  padding-top: 10px;
  padding-bottom: 10px;
}
.profile h3{
  padding-top: 10px;
  padding-bottom: 10px;
}

.itemList{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.item{
border: 1px solid black;
text-align: center;
padding: 5px;
}

.item h1{
  font-weight: 100;
  font-family: cursive;
  font-style: oblique;
}

.item h3{
  font-weight: 300;
}
.item img{
  height: 150px;
  width: 150px;
}